[user]
	name = umezo
	email = umezo@tsuyabu.in

[alias]
  graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
  merge = merge --no-ff 
  br = branch
  st = status


[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
